@import 'tailwindcss';

:root {
  --primary-color: #007bff;
  --background-color: #f8f9fa;
  --text-primary: #222;
  --text-secondary: #555;
  --header-border: #e5e7eb;
}

[data-theme='dark'] {
  --primary-color: #90cdf4;
  --background-color: #181a20;
  --text-primary: #f8f9fa;
  --text-secondary: #cbd5e1;
  --header-border: #243647;
}

body {
  background: var(--background-color) !important;
  color: var(--text-primary);
}

@media (max-width: 768px) {
  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:flex {
    display: none !important;
  }

  .md\:hidden {
    display: flex !important;
  }
}
